body {
    text-align: center;
    margin: 0;
}

a {
    color: #11999E;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'MonteCarlo', cursive;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.topcontainer {
    background-color: #EAF6F6;
    padding-top: 100px;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.middlecontainer {}

.bottomcontainer {}

.topcloud {
    top: 50px;
    right: 300px;
    position: absolute;
}

.bottomcloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}